.algorithm-tabs-nav {
  &__item {
    position: relative;
    display: flex!important;
    height: 80px;
    margin-right: 40px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    outline: none;
    white-space: nowrap;

    -webkit-transition: background-color .3s;
    transition: background-color .3s;
    p {
      margin: 0 auto;
      font-family: "Geometria-Bold", sans-serif;
      color: #878787;
      text-transform: uppercase;
      align-self: center;
      font-size: 14px;

      -webkit-transition: color .3s;
      transition: color .3s;
      &:before {
        content: url("../images/algorithm/check-icon-mark.png");
        display: inline-block;
        margin-right: 10px;
        vertical-align: middle;

        filter: brightness(0.1);
        opacity: 0.17;

        -webkit-transition: filter .3s, opacity .3s;
        transition: filter .3s, opacity .3s;
      }
    }
    &:last-child {
      margin-right: 0;
      &:after {
        content: '';
      }
    }
    &:after {
      display: block;
      position: absolute;
      right: -25px;
      top: 20%;
      height: auto;
      font-family: FontAwesome, sans-serif;
      content: '\f105';
      color: #8f8f8f;
      font-size: 32px;
    }
    &:nth-child(1) {
      width: 233px!important;
    }
    &:nth-child(2) {
      width: 218px!important;
    }
    &:nth-child(3) {
      width: 137px!important;
    }
    &:nth-child(4) {
      width: 180px!important;
    }
    &:nth-child(5) {
      width: 265px!important;
    }
    &:hover {
      cursor: pointer;
      p {
        color: #00a1e4;
        opacity: 1;
      }
    }
  }

  .slick-current {
    background-color: #ffffff;
    p {
      color: #3f3f3f;
      &:before {
        filter: brightness(1);
        opacity: 1;
      }
    }
    & ~ .algorithm-tabs-nav__item {
      p {
        &:before {
          content: url("../images/algorithm/check-icon-empty.png");
        }
      }

    }
  }
}
