.algorithm-tabs-nav {
  width: auto;
  margin: 0 auto;
  &__item {
    position: relative;
    display: flex!important;
    height: 80px;
    margin-right: 40px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    outline: none;
    white-space: nowrap;

    -webkit-transition: background-color .3s;
    transition: background-color .3s;
    p {
      margin: 0 auto;
      font-family: "Geometria-Bold", sans-serif;
      color: #878787;
      text-transform: uppercase;
      align-self: center;
      font-size: 14px;

      -webkit-transition: color .3s;
      transition: color .3s;
      &:before {
        content: url("../images/algorithm/check-icon-mark.png");
        display: inline-block;
        margin-right: 10px;
        vertical-align: middle;

        filter: brightness(0.1);
        opacity: 0.17;

        -webkit-transition: filter .3s, opacity .3s;
        transition: filter .3s, opacity .3s;
      }
    }
    &:last-child {
      margin-right: 0;
      &:after {
        content: '';
      }
    }
    &:after {
      display: block;
      position: absolute;
      right: -25px;
      top: 20%;
      height: auto;
      font-family: FontAwesome, sans-serif;
      content: '\f105';
      color: #8f8f8f;
      font-size: 32px;
    }
    &:nth-child(1) {
      width: 233px!important;
    }
    &:nth-child(2) {
      width: 218px!important;
    }
    &:nth-child(3) {
      width: 137px!important;
    }
    &:nth-child(4) {
      width: 180px!important;
    }
    &:nth-child(5) {
      width: 265px!important;
    }
    &:hover {
      cursor: pointer;
      p {
        color: #00a1e4;
        opacity: 1;
      }
    }
  }

  //
  //.slick-prev {
  //  z-index: 9;
  //  &:before {
  //    display: block;
  //    position: absolute;
  //    right: 20px;
  //    top: -15px;
  //    height: auto;
  //    font-family: FontAwesome, sans-serif;
  //    content: '\f104';
  //    color: red;
  //    font-size: 42px;
  //
  //
  //  }
  //}
  //
  //.slick-next {
  //  z-index: 9;
  //  &:before {
  //    display: block;
  //    position: absolute;
  //    left: 20px;
  //    top: -15px;
  //    height: auto;
  //    font-family: FontAwesome, sans-serif;
  //    content: '\f105';
  //    color: red;
  //    font-size: 42px;
  //  }
  //}

  .slick-current {
    background-color: #ffffff;
    p {
      color: #3f3f3f;
      &:before {
        filter: brightness(1);
        opacity: 1;
      }
    }
    & ~ .algorithm-tabs-nav__item {
      p {
        &:before {
          content: url("../images/algorithm/check-icon-empty.png");
        }
      }

    }
  }
}

@media all and (max-width: 1280px) {
  .algorithm-tabs-nav {
    max-width: 975px;
    //max-width: calc(~"100% - 90px");
    &__item {
      height: 70px;
      margin-right: 25px;
      p {
        font-size: 12px;
        &:before {
          transform: scale(0.9);
          margin-right: 4px;
        }
      }

      &:nth-child(1) {
        width: 180px!important;
      }
      &:nth-child(2) {
        width: 175px!important;
      }
      &:nth-child(3) {
        width: 110px!important;
      }
      &:nth-child(4) {
        width: 175px!important;
      }
      &:nth-child(5) {
        width: 215px!important;
      }
      &:after {
        right: -20px;
        top: 22%;
      }
    }
  }
}


@media all and (max-width: 1023px) {
  .algorithm-tabs-nav {
    display: none;
  }
}