.algorithm {
  padding: 72px 0 0 0;
  background-color: #f6f6f6;
  &__title {
    display: inline-block;
    width: 100%;
    margin: 0 0 61px 0;
    font-family: "Geometria-ExtaBold", sans-serif;
    font-size: 48px;
    text-transform: uppercase;
    color: #3c3c3c;
    text-align: center;
  }
}
