.algorithm-tabs-main {
  background-color: #ffffff;
  padding: 130px 0 140px 0;
  &__list {
    //max-width: 1050px;
    //margin: 0 auto;
  }

  &__item {
    margin: 0 auto;
    justify-content: space-between;
    outline: none;
  }

  &__item-wrap {
    max-width: 1060px;
    margin: 0 auto;
  }

  &__main {
    display: flex;
    justify-content: space-between;
    margin-bottom: 66px;
    margin-left: 5px;
  }
  &__view {
    width: auto;
    margin-right: 10px;
  }
  &__description {
    width: calc(~"95% - 150px");
    margin-top: -7px;
    p {
      margin: 0 0 10px 0;
      font-family: "Roboto-Light", sans-serif;
      line-height: 1.45;
    }
  }
  &__title {
    margin: 0 0 18px 0;
    font-family: "Geometria", sans-serif;
    font-size: 36px;
  }

  &__actions {

  }

  &__download-brief {
    padding: 18px 22px 18px 24px;
    margin-right: 10px;
    background: transparent;
    border: 3px solid #00a1e4;
    border-radius: 30px;
    font-family: "Geometria-Medium", sans-serif;
    font-size: 16px;
    color: #00a1e4;
    text-transform: uppercase;
    outline: none;
  }

  &__get-started {
    padding: 21px 26px;
    border: none;
    border-radius: 27px;
    font-size: 16px;
    background-color: #ed1c2b;
    font-family: "Geometria-Medium", sans-serif;
    color: #ffffff;
    text-transform: uppercase;
    outline: none;
  }

}
