.cms-item {
  display: flex;
  background-color: #ffffff;
  background-origin: content-box;
  width: 224px;
  height: 158px;
  //padding: 0 10px;
  margin: 0 10px;
  img {
    margin: 0 auto;
    align-self: center;
  }
  &__inner {
    display: block;
    margin: 0 auto;
    align-self: center;
  }
  &__title {
    margin: 0 0 5px 0;
    text-align: center;
    font-family: "Geometria", sans-serif;
    font-size: 65px;
    color: #ed1c2b;
    text-indent: 10px;
  }
  &__text {
    margin: 0 0 12px 0;
    text-align: center;
    font-family: "Roboto-Regular", sans-serif;
    font-size: 18px;
    color: #000000;
  }
  &:first-child {
    margin-left: 0;
  }
  &:last-child {
    margin-right: 0;
  }
}
