.cms-item {
  display: flex;
  background-color: #ffffff;
  background-origin: content-box;
  width: 224px;
  height: 158px;
  //padding: 0 10px;
  margin: 0 10px;
  img {
    margin: 0 auto;
    align-self: center;
  }
  &:first-child {
    margin-left: 0;
  }
  &:last-child {
    margin-right: 0;
  }
}
