.cms-item {
  display: flex;
  background-color: #ffffff;
  background-origin: content-box;
  width: 224px;
  height: 158px;
  margin: 0 10px 20px 10px;
  img {
    margin: 0 auto;
    align-self: center;
  }
  &__inner {
    display: block;
    margin: 0 auto;
    align-self: center;
  }
  &__title {
    margin: 0 0 5px 0;
    text-align: center;
    font-family: "Geometria", sans-serif;
    font-size: 65px;
    color: #ed1c2b;
    text-indent: 10px;
  }
  &__text {
    margin: 0 0 12px 0;
    text-align: center;
    font-family: "Roboto-Regular", sans-serif;
    font-size: 18px;
    color: #000000;
  }
}

@media all and (max-width: 1023px) {
  .cms-item {
    width: 160px;
    height: 120px;
    img {
      transform: scale(0.8);
    }
    &__title {
      font-size: 52px;
    }
    &__text {
      font-size: 14px;
    }
  }
}

@media all and (max-width: 767px) {
  .cms-item {
    //width: calc(~"100%/2 - 14px");
    width: 136px;
    height: 97px;
    margin: 0 7px 15px 7px;

    img {
      max-width: 134px;
      transform: scale(0.7);
    }

    &__title {
      font-size: 43px;
    }
    &__text {
      font-size: 11px;
    }
  }
}

@media all and (max-width: 480px) {
  .cms-item {
    &__title {
      margin-bottom: 2px;
    }
    &:last-child {
      background-color: transparent;
    }
  }
}