.contact-us {
  max-width: 470px;
  margin: 0 auto;
  &__title {
    margin: 0 0 19px 3px;
    font-family: "Geometria", sans-serif;
    font-size: 30px;
    color: #000000;
  }

  &__content {
    font-family: "Roboto-Regular", sans-serif;
  }
  &__phone {
    display: inline-block;
    margin-right: 16px;
    font-size: 22px;
    color: #000000;
  }
  &__mail {
    color: #00a1e4;
    font-size: 22px;

    -webkit-transition: background-color 0.3s, color 0.3s;
    transition: background-color 0.3s, color 0.3s;
    &:hover {
      color: #ed1c2b;
    }
  }
}

@media all and (max-width: 767px) {
  .contact-us {
    text-align: center;
    &__title {
      margin-left: 0;
      margin-bottom: 11px;
      font-size: 24px;
    }
    &__phone {
      margin: 0 0 12px 0;
      font-size: 21px;
    }
  }
}