@font-face {
  font-family: 'Roboto-Regular';
  src: url(../fonts/Roboto-Regular.eot),
  url(../fonts/Roboto-Regular.woff2) format('woff2'),
  url(../fonts/Roboto-Regular.woff) format('woff'),
  url(../fonts/Roboto-Regular.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Light';
  src: url(../fonts/Roboto-Light.eot),
  url(../fonts/Roboto-Light.woff2) format('woff2'),
  url(../fonts/Roboto-Light.woff) format('woff'),
  url(../fonts/Roboto-Light.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Geometria';
  src: url(../fonts/Geometria.eot),
  url(../fonts/Geometria.woff2) format('woff2'),
  url(../fonts/Geometria.woff) format('woff'),
  url(../fonts/Geometria.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Geometria-Medium';
  src: url(../fonts/Geometria-Medium.eot),
  url(../fonts/Geometria-Medium.woff2) format('woff2'),
  url(../fonts/Geometria-Medium.woff) format('woff'),
  url(../fonts/Geometria-Medium.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Geometria-Bold';
  src:
  //url(../fonts/Geometria-Bold.ttf) format('truetype'),
  url(../fonts/Geometria-Bold.otf) format("truetype");
  //url(../fonts/Geometria-Bold.eot) format("truetype"),
  //url(../fonts/Geometria-Bold.woff2) format('woff2'),
  //url(../fonts/Geometria-Bold.woff) format('woff');

  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Geometria-ExtaBold';
  src: url(../fonts/Geometria-ExtaBlack.eot),

  url(../fonts/Geometria-ExtaBlack.woff) format('woff'),
  url(../fonts/Geometria-ExtaBlack.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

//@font-face {
//  font-family: 'alsRubl';
//  src: url(../fonts/ALSRubl.woff) format('eot');
//  //src: url(../fonts/alsRubl.eot),
//  //url(../fonts/alsRubl.woff2) format('woff2'),
//  //url(../fonts/alsRubl.woff) format('woff'),
//  //url(../fonts/alsRubl.ttf) format('truetype');
//  font-weight: normal;
//  font-style: normal;
//}

@font-face {
  font-family: 'alsRubl';
  src: url(../fonts/ALSRubl.eot);
  src: local("☺"), url(../fonts/ALSRubl.woff) format("woff"),
  url(../fonts/ALSRubl.ttf) format("truetype"),
  url(../fonts/ALSRubl.svg) format("svg");
  font-weight: normal;
    font-style: normal;
}
