.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 13px 0 15px 0;
  background-color: rgba(15, 20, 46, 0.4);
  &__wrap {
    display: flex;
    justify-content: space-between;
  }
}

@media all and (max-width: 767px) {
  .header {
    padding: 10px 0 13px 0;
  }
}
