.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 25px 0 27px 0;
  background-color: rgba(15, 20, 46, 0.4);
  &__wrap {
    display: flex;
    justify-content: space-between;
  }
}
