@import (inline) "../node_modules/normalize.css/normalize.css";

@import "../node_modules/slick-carousel/slick/slick";
@import "../node_modules/slick-carousel/slick/slick-theme";

@import "../node_modules/font-awesome/less/font-awesome";

@import "fonts";
@import "container";


//header
@import "header";
@import "logo";
@import "phone";


//sections
@import "banner";
@import "advantages";
@import "advantages-item";
@import "cms";
@import "cms-item";
@import "progress";
@import "progress-item";


//projects
@import "projects";
@import "projects-gallery-nav";
@import "projects-gallery-main";

//algorithm
@import "algorithm";
@import "algorithm-tabs";
@import "algorithm-tabs-nav";
@import "algorithm-tabs-main";

//site-price
@import "site-price";

//services
@import "services";
@import "services-item";

//new-project
@import "new-project";
@import "new-project-form";
@import "contact-us";
@import "file-upload";


//footer
@import "footer";
@import "copyrighted";
@import "address";
@import "development";

//@import "animate";

//popup
@import "popup";


a {
    text-decoration: none;
}

a, input, select, button, textarea {
    &:hover {
        cursor: pointer;
    }
}

.mfp-close {
    &:hover {
        cursor: pointer!important;
    }
}