.logo {
  width: 220px;
  &__img {
    vertical-align: middle;
  }
  &__name {
    display: inline-block;
    width: 70px;
    margin: 0 0 0 9px;
    font-family: Roboto-Light, sans-serif;
    font-size: 11px;
    line-height: 1.5;
    color: #ffffff;
    vertical-align: middle;
  }
}

@media all and (max-width: 480px) {

  .logo {
    &__img {
      width: 109px;
    }

    &__name {
      margin: 5px 0 0 10px;
      font-size: 12px;
      line-height: 1.2;
    }
  }
}