.new-project {
  padding: 70px 0 75px 0;
  background-color: #f6f6f6;
  &__title {
    display: inline-block;
    width: 100%;
    margin: 0 0 51px 0;
    font-family: "Geometria-ExtaBold", sans-serif;
    font-size: 48px;
    text-transform: uppercase;
    color: #3c3c3c;
    text-align: center;
  }
}

@media all and(max-width: 767px) {
  .new-project {
    padding: 56px 0 55px 0;
    &__title {
      margin-bottom: 35px;
      font-size: 24px;
    }
  }
}
