.phone {
  font-family: "Geometria", sans-serif;
  font-size: 30px;
  color: #ffffff;
  align-self: center;
  span {
    font-family: "Geometria-Bold", sans-serif;
  }
}


@media all and (max-width: 1023px) {
  .phone {
    font-size: 26px;
  }
}

@media all and (max-width: 767px) {
  .phone {
    font-size: 0;
    span {
      display: none;
    }

    width: 29px;
    height: 29px;
    background: url("../images/icons/phone-icon.png") no-repeat center;
    background-size: contain;

  }
}