.progress {
  padding: 62px 0 20px 0;
  background: url(../images/progress-bg.png) no-repeat top center;
  background-size: cover;
  &__circle {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    width: 800px;
    margin: 0 auto;
  }
  &__content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;

  }
}
