.progress-item {
  width: 38%;
  text-align: center;
  &__value {
    font-family: "Geometria", sans-serif;
    font-size: 77px;
    color: #ed1c2b;
    margin: 0 0 8px 0;
  }
  &__description {
    margin: 0;
    font-family: "Roboto-Regular", sans-serif;
    font-size: 20.5px;
    color: #000000;
  }


  &_center {
    width: 100%;
    font-family: "Geometria", sans-serif;
    font-size: 22px;
    color: #000000;
    align-self: center;
    .progress-item__description {
      font-size: 38px;
    }
  }
  &:nth-child(1) {
    align-self: flex-end;
  }
  &:nth-child(2) {
    align-self: flex-end;
  }

  &:nth-child(4) {
    align-self: flex-start;
    padding-bottom: 17px;

  }
  &:nth-child(5) {
    align-self: flex-start;
    padding-bottom: 17px;
  }
}
