.projects-gallery-main {
  background-color: #ffffff;
  padding: 0 10px 0 10px;
  margin: 0 -10px 0 -10px;
  &__list {
    padding-top: 48px;
    margin: 0 auto;
  }

  &__item {
    display: flex!important;
    justify-content: flex-start;
    margin-left: 25px;
    outline: none;
  }

  &__view {
    width: 57%;
    align-self: flex-end;
    display: block;
    text-align: center;
    img {
      display: block;
      max-width: 100%;
      //height: auto;
    }
  }
  &__view-link {
    display: inline-block;
    width: auto;
    margin: 0 auto;
    outline: none;
  }

  &__description {
    max-width: 530px;
    padding-top: 77px;
    //margin-left: -40px;
  }

  &__title {
    margin: 0 0 24px 0;
    font-family: "Geometria", sans-serif;
    color: #000000;
    font-size: 30px;
  }

  &__content {
    margin: 0 0 71px 0;
    font-family: "Roboto-Light", sans-serif;
    color: #000000;
    font-size: 16px;
    line-height: 1.5;
    p {
      margin: 0 0 10px 0;
      //&:last-child {
      //  margin-bottom: 0;
      //}
    }
  }

  &__actions {

  }

  &__detail-case {
    padding: 18px 22px 18px 20px;
    margin-right: 10px;
    background: transparent;
    border: 3px solid #00a1e4;
    border-radius: 30px;
    font-family: "Geometria-Medium", sans-serif;
    font-size: 16px;
    color: #00a1e4;
    text-transform: uppercase;
    outline: none;
  }
  &__get-this-case {
    padding: 21px 26px;
    border: none;
    border-radius: 27px;
    font-size: 16px;
    background-color: #ed1c2b;
    font-family: "Geometria-Medium", sans-serif;
    color: #ffffff;
    text-transform: uppercase;
    outline: none;
  }

  .fadeInLeft {
    opacity: 0;
    -webkit-transform: translateX(-400px);
    -ms-transform: translateX(-400px);
    transform: translateX(-400px);
    transition-property: opacity,-webkit-transform;
    transition-property: opacity,transform;
    transition-property: opacity,transform,-webkit-transform;
  }


  .delay-300 {
    transition-delay: .3s;
  }
    .fadeInLeft {
      opacity: 1;
      -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
      transform: translateX(0);
    }

    .projects-gallery-main__title {

    }

    .projects-gallery-main__content {

    }

}
