.projects-gallery-nav {
  position: relative;
  max-width: 1080px;
  margin: 0 auto 0 auto;
  &__item {
    display: flex!important;
    height: 102px;
    width: 220px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    outline: none;
    opacity: 0.4;
    img {
      margin: 0 auto;
      align-self: center;
    }
    &:hover {
      cursor: pointer;
    }
  }

  .slick-current {
    background-color: #ffffff;
    opacity: 1;

    -webkit-transition: background-color .4s, opacity .4s;
    transition: background-color .4s, opacity .4s;
  }

  .slick-arrow {
    top: 47%;
    height: auto;
    z-index: 1;
  }
  .slick-prev {
    left: -60px;
    &:before {
      content: url("../images/icons/left-arr.png");
      color: black;
      font-size: 62px;
    }
  }
  .slick-next {
    right: -60px;
    &:before {
      content: url("../images/icons/right-arr.png");
      color: black;
      font-size: 62px;
    }
  }
}

@media all and (max-width: 767px) {
  .projects-gallery-nav {
    width: calc(~'100% - 80px');
    &__item {
      height: 80px;
      border-radius: 0;
    }

    .slick-prev {
      left: -30px;
    }
    .slick-next {
      right: -30px;
    }

    .slick-dots {
      z-index: 1;
      button {
        &:before {
          opacity: 0.25;
          font-size: 25px;
        }
      }
      button:hover {
        &:before {
          opacity: 0.25;
        }
      }

      .slick-active {
        button {
          &:before {
            opacity: 1;
            font-size: 35px!important;
            color: #accf50!important;
          }
        }
        button:hover {
          &:before {
            opacity: 1;
          }
        }
      }
    }
  }
}
