.services {
  padding: 128px 0 138px 0;
  &__title {
    display: inline-block;
    width: 100%;
    margin: 0 0 80px 0;
    font-family: "Geometria-ExtaBold", sans-serif;
    font-size: 54px;
    text-transform: uppercase;
    color: #00a1e4;
    text-align: center;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    margin: 0;
  }

  &__order-btn {
    display: block;
    margin: 100px auto 0 auto;
    padding: 21px 30px;
    border: none;
    border-radius: 27px;
    font-size: 16px;
    background-color: #ed1c2b;
    font-family: "Geometria-Medium", sans-serif;
    color: #ffffff;
    text-transform: uppercase;
    outline: none;
  }
}
