.site-price {
  padding: 70px 0 106px 0;
  background: url("../images/site-price/bg.jpg") no-repeat top center;
  background-size: cover;
  &__wrap {
    display: flex;
    justify-content: space-between;
    max-width: 1095px;
    margin: 0 auto;
  }

  &__description {
    width: 62.5%;
    padding-top: 28px;
  }
  &__view {
    text-align: right;
    width: 31%;
  }

  &__value {
    margin: 12px 0 0 0;
    color: #ffffff;
    white-space: nowrap;
  }
  &__sign {
    margin-right: 10px;
    font-family: "Geometria", sans-serif;
    font-size: 59px;
  }
  &__num {
    margin-right: 5px;
    font-size: 59px;
    font-family: "Geometria-Bold", sans-serif;
  }
  &__currency {
    font-family: "alsRubl", sans-serif;
    font-size: 59px;
    //font-weight: bold;
    //font-weight: normal;
  }


  &__title {
    font-family: "Geometria", sans-serif;
    color: #ffffff;
    font-size: 30px;
    font-weight: normal;
    margin: 0 0 18px 0;
  }

  &__content {
    max-width: 675px;
    font-family: "Roboto-Light", sans-serif;
    color: #ffffff;
    line-height: 1.5;
  }
}
