.site-price {
  padding: 70px 0 106px 0;
  background: url("../images/site-price/bg.jpg") no-repeat top center;
  background-size: cover;
  &__wrap {
    display: flex;
    justify-content: space-between;
    max-width: 1095px;
    margin: 0 auto;
  }

  &__description {
    width: calc(~"100% - 420px");
    padding-top: 28px;
  }
  &__view {
    text-align: right;
    width: 340px;
  }

  &__value {
    margin: 12px 0 0 0;
    color: #ffffff;
    white-space: nowrap;
  }
  &__sign {
    margin-right: 10px;
    font-family: "Geometria", sans-serif;
    font-size: 59px;
  }
  &__num {
    margin-right: 5px;
    font-size: 59px;
    font-family: "Geometria-Bold", sans-serif;
  }
  &__currency {
    font-family: "alsRubl", sans-serif;
    font-size: 59px;
    //font-weight: bold;
    //font-weight: normal;
  }
  &__title {
    font-family: "Geometria", sans-serif;
    color: #ffffff;
    font-size: 30px;
    font-weight: normal;
    margin: 0 0 18px 0;
  }
  &__content {
    max-width: 675px;
    font-family: "Roboto-Light", sans-serif;
    color: #ffffff;
    line-height: 1.5;
  }
}

@media all and (max-width: 1023px) {
  .site-price {
    &__title {
      font-size: 27px;
    }
    &__description {
      padding-top: 0;
      width: calc(~"100% - 390px");
    }
    &__content {
      font-size: 15px;
    }
    &__sign {
      font-size: 51px;
    }
    &__num {
      font-size: 51px;
    }
    &__currency {
      font-size: 51px;
    }
  }
}

@media all and (max-width: 767px) {
  .site-price {
    padding: 55px 0 50px 0;
    &__wrap {
      flex-direction: column-reverse;
      flex-wrap: wrap;
    }
    &__title {
      margin-bottom: 12px;
      font-size: 21px;
      text-align: center;
      letter-spacing: 0.8px;
    }
    &__view {
      width: 92%;
      text-align: center;
    }
    &__view img {
      width: 230px;
      margin-left: 45px;
    }
    &__description {
      width: 100%;
      margin-bottom: 9px;
    }
    &__content {
      text-align: center;
      font-size: 14px;
      line-height: 1.44;
    }
    &__value {
      margin-top: 8px;
      margin-left: 12px;
    }
    &__num {
      font-size: 45px;
    }
    &__sign {
      margin-right: 6px;
      font-size: 45px;
    }
    &__currency {
      font-size: 47px;
    }
  }
}